<div style="margin-bottom: 30px;">
  <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Gerenciar Postagens</a>
</div>
<div>
  <a class="btn btn-primary btn-lg" href="/admin/categorias" role="button">Gerenciar Categorias</a>
</div>